doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table

        a(href='/update-cobj') Add to this table

        center
        table(style='width:100%', border='1')
            thead
                tr
                th Animal Name
                th Type
                th Avg Weight
                th Avg Length
            tbody
            each animal in data
                tr
                    td #{animal.properties.animal_name}
                    td #{animal.properties.animal_type}
                    td #{animal.properties.average_weight}
                    td #{animal.properties.average_length}
