doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Contacts
        .cards 
            each animal in data
                .card 
                    h2.card__name Animal: #{animal.properties.animal_name}
                    p.card__email Type: #{animal.properties.animal_type}
                    p.card__email Avg Weight: #{animal.properties.average_weight} 
                    p.card__email Avg Length: #{animal.properties.average_length}

        .form-wrapper
            form(method="POST")
                label(for="newAnimalName") New Animal
                input(type="text" name="newAnimalName" required)
                label(for="newAnimalType") Animal Type
                input(type="text" name="newAnimalType" required)
                label(for="newAnimalWeight") Animal Average Weight lb
                input(type="text" name="newAnimalWeight" required)
                label(for="newAnimalLength") Animal Average Length m
                input(type="text" name="newAnimalLength" required)
                input(type="submit" value="Submit")


    a(href='/') Return to the homepage